[type=tel], [type=url], [type=email], [type=number] {
    direction: ltr !important;
  }
  
  body{
    // background-image: url("../../assets/img/bg-pattern.webp");
    // background-position: center;
    // background-size: cover;
    position: relative;
    padding-top: 30px;
    // &::before{
    //   content: "";
    //   position: absolute;
    //   background-image: url("../../assets/img/lantern-right.webp");
    //   top: 0;
    //   right: 0;
    //   height: 33%;
    //   width: 28%;
    //   z-index: -1;
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   background-position: top right;
    // }
    // &::after{
    //   content: "";
    //   position: absolute;
    //   background-image: url("../../assets/img/lantern-left.webp");
    //   top: 0;
    //   left: 0;
    //   height: 33%;
    //   width: 28%;
    //   z-index: -1;
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   background-position: top left;
    // }
  }



  .brand-logo-container{
    width: 140px;
  }

  .rise-shake {
    animation: jump-shaking 2.75s infinite;
  }

  @keyframes jump-shaking {
    0% { transform: translateX(0) rotate(0)}
    35% { transform: translateY(0) rotate(0) }
    85% { transform: translateY(0) rotate(0) }
    89% { transform: translateY(-2px) rotate(-5deg)}
    93% { transform: translateY(-3px) rotate(5deg)}
    98% { transform: translateY(-4px) rotate(-5deg)}
    100% { transform: translateY(0) rotate(0) }
  }

  .banner-slider{
    .slick-dots li button:before{
      content: "";
      border-radius: 4px;
      background-color: $light;
      border: 2px solid $primary;
      width: 15px;
      height: 15px;
      margin: 4px;
      opacity: 1;
    }
    .slick-dots li.slick-active button:before{
      background-color: $primary;
    }
  }

  .blur-item{
    > div{
      transition: filter 1s ease;
      filter: blur(0);
    }
    &.blurred{
      position: relative;
      > div{
        transition: filter 1s ease;
        filter: blur(5px);
      }
      &::before{
        content: attr(data-content);
        position: absolute;
        font-size: 2.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: var(--bs-primary);
        z-index: 2;
        text-align: center;
        width: 100%;
      }
      &::after{
        position: absolute;
        content: "";
        background-color: white;
        filter: blur(5px);
        opacity: 0.75;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
      }
    }
  }

  .no-events{
    pointer-events: none;
    cursor: auto;
  }