<footer class="footer py-3 text-center">
    <div class="container">
        <p class="fw-bold mb-0">©
            <a href="https://github.com/adilasif-io/Frontend-Template" rel="noopener" target="_blank">Frontend
                Template</a>
        </p>
    </div>
</footer>
{{> _anime-js}}
{{> _aos-js}}
{{> _select2-css-js}}
<script src="{{root}}assets/vendor/js/bootstrap.bundle.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>